html, body {
    font-family: 'Noto Sans Thai', sans-serif !important;
}
.table td, .table th {
    padding: 5px !important;
}
.color-red {
    color: red;
}
.nowrap {
    white-space: nowrap;
}

li.nav-item {
    font-size: 13px;
}